.nadpis_první_část {
    text-align: center;
    font-style: italic;
    color: gold;
    margin-top: 10px;
}

.nadpis_druhá_část {
    text-align: center;
    font-style: italic;
    color: gold;
}

body {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTOV0nLRQPuYfqxxAyEdAsng4ZOqPT6qDaKXA&s);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

h1 {
    font-size: 70px;
}

button {transform: translateX(915px);
background-color: palevioletred;}

a {
    color: orange;
    font-weight: bolder;
    font-size: x-large;
    font-style: oblique;
}